/* 全局列表页面和表单页面通用公共样式 */
/* 此处是带搜索款列表的统一样式css- 20200926-ch */
.searchPage {
  background-color: #ebebeb;
}
.searchBox {
  background-color: #ffffff;
  padding-bottom: 15px;
}
.searchPage .searchBox .searchLabel {
  width: 80px;
  display: inline-block;
  text-align: right;
}
.searchPage .searchBox .searchData {
  width: calc(100% - 100px) !important;
  display: inline-block;
  text-align: left;
}
.searchPage .searchBox .searchSelect {
  width: 100%;
}
.searchPage .searchBox .textRight {
  text-align: right;
}
.searchPage .searchBox .adminTlt {
  text-align: left;
  margin-top: 15px;
  padding-left: 15px;
}
.secachBtn {
  font-size: 18px;
}
.bgColorBlue {
  background-color: #006fe5;
}
.searchPage .actionBox {
  margin: 15px 0;
  text-align: left;
}
.searchPage .searchData {
  background-color: #fff;
}
.searchPage .searchData .el-pagination {
  margin: 15px auto;
}
/* 此处是公共表单样式 */
.formPage .pageTille {
  width: 100%;
  background-color: #006fe5;
  color: #ffffff;
  font-size: 24px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
}
.formPage .content {
  text-align: left;
}
.formPage .content .noticeArr {
  color: red;
  font-size: 14px;
  margin: 15px 0;
  padding-left: 20px;
}
.formPage .notice {
  color: red;
  font-size: 14px;
  margin: 15px 0;
  padding-left: 20px;
  text-align: left;
}
.formPage .inputBox {
  padding-bottom: 15px;
}
.formPage .inputBox .el-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formPage .inputBox .btnGroup {
  text-align: left;
  padding-left: 100px;
}
.formPage .inputBox .inputLabel {
  width: 110px;
  display: inline-block;
  text-align: right;
}
.formPage .inputBox .inputData {
  width: calc(100% - 100px) !important;
  display: inline-block;
  text-align: left;
}
.formPage .inputBox .inputSelect {
  width: 100%;
}
.formPage .inputBox .textRight {
  text-align: right;
}
.InputBtn {
  font-size: 18px;
}
/* 此处是报告详情页面样式 */
.detailPage .tlt {
  width: 100%;
  background-color: #006fe5;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.detailPage .info h2 {
  margin: 15px 0;
  font-size: 18px;
}
.detailPage .info table {
  width: 100%;
}
.detailPage .info td {
  padding: 10px;
  text-align: left;
}
.detailPage .info h3 {
  margin: 15px 0;
  text-align: left;
  padding-left: 10px;
}
.detailPage .info .rulest {
  padding: 10px;
}
.detailPage .info .tent {
  text-align: left;
  padding: 10px;
  text-indent: 2rem;
}
.detailPage .info .rulest h4 {
  color: #006fe5;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
}
.detailPage .info .rulest .blue {
  color: #006fe5;
}
.detailPage .info .rulest p {
  text-align: left;
}
.detailPage .info .train thead {
  background-color: #e5e5e5;
}
.detailPage .info .train td {
  text-align: center;
}
.detailPage .exportBox {
  padding: 30px 0;
  text-align: center;
}
.detailPage .exportBox .exportBtn {
  width: 160px !important;
}
