body{
	background: #ebebeb;
}
.layui-layout-right{
	padding: 0 60px 0 0;
}
.layui-layout-right li{
	padding: 0 15px;
}
.layui-layout-admin .layui-header{
	background: #0070e5;
}
.layui-nav-item h2{
	font-size: 26px;
	font-weight: 600;
}
.layui-logo img{
	width: 72%;
}
iframe{
	border: 0;
}
.line{
	width: 4px;
	height: 34px;
	background: #FFFFFF;
	display: block;
	margin-right:20px ;
}
.layui-layout-left .layui-nav-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.layui-layout-left{
	padding-left: 0;
}
.layui-layout-admin .layui-body{
	top:65px;
}
.layui-layout-admin .layui-side{
	top:65px;
}
.layui-layout-admin .layui-side{
	background: #FFFFFF;
}
.layui-nav-tree .layui-nav-item a{
	display: flex;
	align-items: center;
}
.layui-nav-tree .layui-nav-item img{
	margin-right: 5px;
}
.select{
	display: none;
}
.layui-nav-tree .layui-nav-item a:hover .select{
	display: block;
}
.layui-nav-tree .layui-nav-item a:hover .nosele{
	display: none;
}
.bigbox{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.bigbox .report,.bigbox .supervision,.bigbox .facility,.bigbox .consult{
	width: 100%;
	height:100px;
	margin-bottom: 10px;
}
.bigbox div h3{
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	background: #0070e5;
	padding:18px 0;
	width: 12%;
	text-align: center;
	margin-bottom: 0.625rem;
}
.layui-table td, .layui-table th{
	text-align: center;
}
.layui-table{
	text-align: center;
	font-size: 16px!important;
}
.layui-table td{
	height: 62px;
	padding: 0;
	font-size: 16px!important;
}
.layui-table th{
	height: 40px;
	font-size: 16px!important;
}
.report .more,.supervision .more,.consult .more{
	text-align: center;
	display: block;
	padding: 20px 0;
	color: #0070E5;
	font-size: 18px;
	background: #FFFFFF;
}
.layui-table, .layui-table-view{
	margin: 0;
}
.supervision .layui-table td, .layui-table th{
	width: 16%;
	text-align: center;
}
#test1{
	display: flex;
	justify-content: center;
	padding: 1.25rem;
}
.layui-laypage a{
	margin: 0 0.625rem;
	border: 1px solid #0070e5;
	color: #0070e5;
}
.layui-laypage>:first-child,.layui-laypage>:last-child{
	background-color: #0070e5;
	color: #FFFFFF;
}
.layui-laypage a:hover{
	color: #ffffff!important;
}
.layui-btn-normal{
	width: 9%;
	font-size: 1.125rem;
	margin-bottom: 0.625rem;
}
.top{
	width: 100%;
	display: flex;
	background: #FFFFFF;
	padding: 0.625rem 0;
	margin-bottom: 0.625rem;
	margin-left: 0.625rem;
}
.selects{
	width: 18%;
	display: flex;
	height: 38px;
	margin-left: 4%;
}
.selects label{
	width: 16%;
	display: flex;
	align-items: center;
}
.selecount{
	width: 70%;
	height: 38px;
	padding-left: 10px;
}
.selects select{
	height: 38px;
	width: 100%;
}
.selects select option{
	height: 38px;
	width: 100%;
	padding: 0.75rem 0;
}

.yuan{
width: 38px;
height:38px;
border-width: 3px;
border-style: solid;
border-top-color: #a9a9a9;
border-right-color: #a9a9a9;
border-bottom-color: #20bb45;
border-left-color: #20bb45;
border-radius: 50%;
transform: rotate(0deg);
line-height: 38px;
text-align: center;
font-size: 14px;
overflow: hidden;
margin: 0 auto;
}
.yuana{
	border-color: #ff4140;
}
.yuanb{
	border-left-color: #a9a9a9;
	border-bottom-color: #006fe7;
}
.yuanc{
	border-color: #a9a9a9;
}